html {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

main {
  background-color: #eee8d5;
}

footer {
  font-size: 1.5rem;
}

ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

h2 {
  color: #93a1a1;
}

#facts {
  background-color: #b58900;
}

#Contents {
  color: #fff;
}

#favs {
  color: #93a1a1;
}

p + strong .dfn {
  color: #fff;
}

a {
  background-color: #719e0;
}

[rel="external"] {
  background-color: #2694d8;
}

ol > li:first-child {
  color: #719e47;
}

ol > li:last-child {
  color: #2aa198;
}

.types li:nth-child(1n) {
  background-color: #657ba3;
}

.types li:nth-child(2n) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}
